---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import avatar from '@/assets/avatar.jpg'
import config from '@/site-config'

const frontendDevelopment = ['Vue.js', 'React.js', 'TypeScript', 'JavaScript', 'CSS', 'HTML']
const backendDevelopment = ['Node.js']
const generalProgramming = ['C++', 'C', 'Java', 'Python']
const devOpsTools = ['VSCode', 'JetBrains', 'Git', 'Docker', 'Nginx']
const designTools = ['Figma', 'Photoshop', 'Illustrator', 'Sketch', 'Pixelmator', 'Premiere Pro']
const others = ['Markdown', 'LaTeX', 'Typst']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China / Fuzhou'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='Github' as='a' href='https://github.com/Seeridia' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      {/* Get template */}
      <a
        href='https://github.com/Seeridia'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <p class='font-medium text-muted-foreground'>Developer & Designer</p>
      </a>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-7/8'>
      <Section title='About'>
        <p class='text-muted-foreground'>👋 Hi, 我是 Seeridia!</p>
        <p class='text-muted-foreground'>
          福州大学在读，2028 届本科生，软件工程专业。正在猛猛学习～～
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      <Section title='Works'>
        <ProjectSection
          projects={[
            {
              name: 'Shotmeld',
              description: '高颜值的在线照片存储与管理平台',
              links: [
                { type: 'github', href: 'https://github.com/ShotMeld/Shotmeld-web' },
                { type: 'site', href: 'https://shotmeld.seeridia.top' }
                // {
                //   type: 'doc',
                //   href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
                // }
              ]
            },
            {
              name: 'Alto',
              description: '为 typora 编辑器精心设计的主题，专注于提升写作与思考的沉浸体验',
              links: [
                { type: 'github', href: 'https://github.com/Seeridia/typora-theme-alto' },
                { type: 'site', href: 'https://theme.typora.io/theme/Alto' },
                {
                  type: 'doc',
                  href: 'https://github.com/Seeridia/typora-theme-alto/blob/main/README.md'
                }
              ]
            },
            {
              name: 'Clipboard Viewer',
              description: '剪切板内容解析、调试工具',
              links: [
                { type: 'github', href: 'https://github.com/Seeridia/Clipboard-Viewer' },
                { type: 'site', href: 'https://clipboard-viewer.seeridia.top/' }
              ]
            },
            {
              name: 'Cardify',
              description: '什么东西都没有的什么新坑',
              links: [
                { type: 'github', href: 'https://github.com/Seeridia/Cardify' }
                // { type: 'site', href: 'https://cardify.top/' }
              ]
            }
          ]}
        />
      </Section>
      <Section title='Contributions'>
        <ProjectSection
          projects={[
            {
              name: 'Tencent / Cherry Markdown',
              description: 'Javascript Markdown 编辑器',
              links: [
                { type: 'github', href: 'https://github.com/Tencent/cherry-markdown' },
                {
                  type: 'release',
                  href: 'https://www.npmjs.com/package/cherry-markdown'
                },
                {
                  type: 'doc',
                  href: 'https://github.com/Tencent/cherry-markdown/wiki'
                }
              ]
            },
            {
              name: 'west2-online / fzuhelper-app',
              description: '福州大学 学生助手',
              links: [
                { type: 'github', href: 'https://github.com/west2-online/fzuhelper-app' },
                {
                  type: 'release',
                  href: 'https://fzuhelper.w2fzu.com/'
                }
              ]
            }
          ]}
        />
        <Button title='More Repositories' class='w-fit self-end' href='https://github.com/Seeridia?tab=repositories' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='福州大学'
          subheading='软件工程 & 数字媒体技术'
          date='September 2024 - Present'
          href='https://www.fzu.edu.cn/'
        >
          <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/education/FZU.svg'
          />
        </Card>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Frontend' skills={frontendDevelopment} />
        <SkillLayout title='Backend' skills={backendDevelopment} />
        <SkillLayout title='Programming' skills={generalProgramming} />
        <SkillLayout title='Tools' skills={devOpsTools} />
        <SkillLayout title='Design' skills={designTools} />
        <SkillLayout title='Other' skills={others} />
      </Section>
    </div>

    <!-- <Section title='Certifications'>
      <Card
        as='a'
        heading='Lorem ipsum'
        subheading='Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio possit voluptatum. Dicat ceteros cu vim. Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.'
        date='July 2024'
        href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
      />
    </Section> -->
  </main>
</PageLayout>
