---
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Hero from '@/components/home/Hero.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

const frontendDevelopment = ['Vue.js', 'React.js', 'TypeScript', 'JavaScript', 'CSS', 'HTML']
const backendDevelopment = ['Node.js']
const generalProgramming = ['C++', 'C', 'Java', 'Python']
const devOpsTools = ['VSCode', 'JetBrains', 'Git', 'Docker', 'Nginx']
const designTools = ['Figma', 'Photoshop', 'Illustrator', 'Sketch', 'Pixelmator', 'Premiere Pro']
const others = ['Markdown', 'LaTeX', 'Typst']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
  <main class='flex relative w-full flex-col items-center'>
    <div class="hero-sticky-container">
      <Hero class='sticky z-0' />
    </div>
    <div
      id='content'
      class='animate relative z-1 flex w-full max-w-5xl flex-col gap-y-14 px-6 md:gap-y-20 md:px-8'
    >
      <Section title='About'>
        <p class='text-muted-foreground'>👋 Hi, 我是 Seeridia!</p>
        <p class='text-muted-foreground'>
          福州大学在读，2028 届本科生，软件工程专业。正在猛猛学习～～
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }
      <Section title='Works'>
        <ProjectSection
          projects={[
            {
              name: 'Shotmeld',
              description: '高颜值的在线照片存储与管理平台',
              links: [
                { type: 'github', href: 'https://github.com/ShotMeld/Shotmeld-web' },
                { type: 'site', href: 'https://shotmeld.seeridia.top' }
              ]
            },
            {
              name: 'Alto',
              description: '为 typora 编辑器精心设计的主题，专注于提升写作与思考的沉浸体验',
              links: [
                { type: 'github', href: 'https://github.com/Seeridia/typora-theme-alto' },
                { type: 'site', href: 'https://theme.typora.io/theme/Alto' },
                {
                  type: 'doc',
                  href: 'https://github.com/Seeridia/typora-theme-alto/blob/main/README.md'
                }
              ]
            },
            {
              name: 'Clipboard Viewer',
              description: '剪切板内容解析、调试工具',
              links: [
                { type: 'github', href: 'https://github.com/Seeridia/Clipboard-Viewer' },
                { type: 'site', href: 'https://clipboard-viewer.seeridia.top/' }
              ]
            },
            {
              name: 'Cardify',
              description: '什么东西都还没有的什么新坑',
              links: [{ type: 'github', href: 'https://github.com/Seeridia/Cardify' }]
            },
            {
              name: 'maynooth-moodle-ics',
              description:
                'Maynooth Moodle Schedule Subscription 日程订阅，将你的 Task 订阅到你的日历应用中',
              links: [{ type: 'github', href: 'https://github.com/Seeridia/maynooth-moodle-ics' }]
            },
            {
              name: 'Other Projects',
              description: '去看看我的仓库？',
              links: [{ type: 'github', href: 'https://github.com/Seeridia?tab=repositories' }]
            }
          ]}
        />
      </Section>
      <Section title='Contributions'>
        <ProjectSection
          projects={[
            {
              name: 'Tencent / Cherry Markdown',
              description: 'Javascript Markdown 编辑器',
              links: [
                { type: 'github', href: 'https://github.com/Tencent/cherry-markdown' },
                {
                  type: 'release',
                  href: 'https://www.npmjs.com/package/cherry-markdown'
                },
                {
                  type: 'doc',
                  href: 'https://github.com/Tencent/cherry-markdown/wiki'
                }
              ]
            },
            {
              name: 'west2-online / fzuhelper-app',
              description: '福州大学 学生助手',
              links: [
                { type: 'github', href: 'https://github.com/west2-online/fzuhelper-app' },
                {
                  type: 'release',
                  href: 'https://fzuhelper.w2fzu.com/'
                }
              ]
            }
          ]}
        />
        <Button
          title='More Repositories'
          class='w-fit self-end'
          href='https://github.com/Seeridia?tab=repositories'
          style='ahead'
        />
      </Section>
      <Section title='Education'>
        <Card
          as='a'
          heading='福州大学'
          subheading='软件工程 & 数字媒体技术'
          date='September 2024 - Present'
          href='https://www.fzu.edu.cn/'
        >
          <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/education/FZU.svg'
            alt='福州大学'
          />
        </Card>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Frontend' skills={frontendDevelopment} />
        <SkillLayout title='Backend' skills={backendDevelopment} />
        <SkillLayout title='Programming' skills={generalProgramming} />
        <SkillLayout title='Tools' skills={devOpsTools} />
        <SkillLayout title='Design' skills={designTools} />
        <SkillLayout title='Other' skills={others} />
      </Section>
    </div>
  </main>
</PageLayout>
